# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Run automated tests

on:
  pull_request:
    branches: [ master, 2.0.0-develop, 2.1.0-develop ]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - &setup-java
        name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - &setup-cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle wrapper
        run: gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run automated tests
        run: ./gradlew test -i --no-daemon

  build-windows:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - *setup-java
      - *setup-cache
      - name: Gradle wrapper
        run: gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run automated tests
        run: ./gradlew test -i --no-daemon

  build-macos:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - *setup-java
      - *setup-cache
      - name: Gradle wrapper
        run: gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run automated tests
        run: ./gradlew test -i --no-daemon

  static-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - *setup-java
      - *setup-cache
      - name: Gradle wrapper
        run: gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.4
      - name: Run Code Style Check
        run: ./gradlew checkstyleCI -i --no-daemon
        env:
          MODIFIED_FILES: ${{ steps.file_changes.outputs.files}}
      - name: Run PMD Quality Check
        run: ./gradlew pmdCI -i --no-daemon
        env:
          MODIFIED_FILES: ${{ steps.file_changes.outputs.files}}
